h2 {
    color: rgb(83, 143, 211);
    
  } 
  
 
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: rgb(214, 210, 210);
  }
  
  .right {
    right: 0;
    background-color: rgb(238, 244, 245);
  }
  
  
  